/** 
 * @name Collapseable Sidebar Discord
 * @version 1.0
*/

 .panels_c48ade {
  height: 57px!important;
  width: 56px!important;
  border-radius: 30px!important;
  display: flex!important;
  flex-direction: column;
  overflow: hidden;
  transition-duration: 0.35s;
  z-index: 50000;
  pointer-events: all;
  border: 1px solid var(--border-subtle)!important;
  &:has(.container_e131a9) {
    border: 1px solid var(--border-normal);
  }
}

.wrapper_e131a9 {
  height: 0;
  overflow: hidden;
}

.panels_c48ade:hover {
  width: 300px!important;
  height: auto!important;
  display: flex!important;
  flex-direction: column;
  border-radius: 15px!important;
  filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.123)) ;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  .wrapper_e131a9 {
    height: auto!important;
  }
  z-index: 50000;
}

.sidebar_c48ade {
  overflow: visible!important;
}

.container__2637a {
  padding-bottom: 0px!important;
}

.scroller__99e7c {
  margin-bottom: 0px!important;
}

.bottom__7aaec {
  bottom: 0px!important;
}

.visual-refresh [class^="panels_"] [class^="container__"] [class^="buttons__"] {
  opacity: 0;
  transform: scale(0);
  transform-origin: left;
  transition: opacity 0.1s ease-in, transform 0.1s ease-in;
  will-change: opacity, transform;
}

.visual-refresh [class^="panels_"]:hover [class^="container__"] [class^="buttons__"] {
  transform: scale(1);
  opacity: 1;
}

.visual-refresh .panel__5dec7 {
  display: none;
}

.visual-refresh [class^="panels_"]:hover .panel__5dec7 {
  display: block;
}

/* .sidebarList_c48ade {
  width: calc(
    calc(var(--custom-guild-sidebar-width) - 264px) * 2
  ) !important;
} */

/* Collapsible sidebars */
.visual-refresh [class^="sidebarList_"] {
  border-right: 1px solid var(--text-feedback-positive);
  position: fixed; /* Remove if you don't want it to float */
  width: 150px; /* Set to 0px if you don't want it to float */
  container-type: unset;
  opacity: 15%;
  height: 100%;
  z-index: 998;
  left: -70px;
  filter: drop-shadow(16px 16px 16px #0005) ;
  transition-property: opacity, left, width;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* .visual-refresh [class^="sidebar_"]:hover [class^="sidebarList_"] { */
.visual-refresh [class^="sidebarList_"]:hover {
  border-right: none;
  left: 70px;
  opacity: 100%;
  width: 300px; /* Set your preferred width here (resize handle is disabled) */
  height: calc(100% - var(--custom-button-button-md-height));
}

.visual-refresh [class*="guilds"] {
  z-index: 999; /* So the sidebar pops from behind the servers */
}

.visual-refresh [class^="panels_"] {
  position: fixed; /* Floating user panel (status, deafen, etc) */
  width: 60px;
  z-index: 999;
  transition: width .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.visual-refresh [class^="panels_"]:hover {
  width: 300px;
  z-index: 9999;
}

.visual-refresh [class^="panels_"] [class^="container__"] [class^="buttons__"] {
  opacity: 0%;
  scale: 0%; /* Because the buttons can't stay inside the panel on chromium (any help is appreciated) */
  transition-property: opacity, margin-bottom, scale;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.visual-refresh .panels_c48ade:hover [class^="container__"] [class^="buttons__"] {
   scale: 100%;
   opacity: 100%;
}

.visual-refresh [class^="sidebarResizeHandle_"] {
  display: none; /* Set your preferred width in the sidebar settings */
}

.visual-refresh [class^="container_"] [class^="membersWrap_"] {
  position: fixed; /* Remove if you don't want it to float */
  height: 100%;
  opacity: 0%;
  z-index: 999;
  right: -260px;
/*top: 80px;  /* Add/change this according to your desktop/client */
  filter: drop-shadow(-16px -16px 16px #0005) ;
  transition-property: right, opacity;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.visual-refresh [class^="container_"] [class^="membersWrap_"]:hover {
  right: 0px;
  opacity: 100%;
}
